Color-scheme: Relic Dark

*scrollBar: false 
 

xterm*termName: xterm-256color
XTerm*locale: true
Xterm*saveLines: 4096
xterm*faceName: Inconsolata for Powerline:regular:size=10
xterm*font: 7x13
xterm*borderWidth: 0

!aterm*transparent: true
!aterm*termName: xterm-256color
!aTerm*locale: true
!aterm*saveLines: 4096
!aterm*faceName: Inconsolata for Powerline:regular:size=10
!aterm*font: 7x13
!aterm*borderWidth: 0

*font: xft:Inconsolata for Powerline:regular:size=10
urxvt.depth: 32
urxvt.background: [80]#1D2426
!*background:     #1D2426
!fg  #8FA388

! Alternate foreground
!*foreground: #AB9C71

!*cursorColor: #BE5E1E

!*color0:  #39474A
!*color1:  #986345
!*color2:  #788249
!*color3:  #9B6A46
!*color4:  #3E5951
!*color5:  #B9924A
!*color6:  #5d796a
!*color7:  #977D5E
!*color8:  #4C5F63
!*color9:  #B07350
!*color10: #869151
!*color11: #AF6B42
!*color12: #567A6E
!*color13: #D69D55
!*color14: #668574
!*color15: #AB9C71

*.foreground:   #6a6a6a
*.background:   #1e1e1e
!urxvt.background:  [80]#39474a
*.cursorColor:  #5a5a5a
 
*.color0:       #303030
*.color1:       #cf6a49
*.color2:       #8f9d6a
*.color3:       #f9ee98
*.color4:       #99ff00  
*.color5:       #9b859d
*.color6:       #afc4db
*.color7:       #a7a7a7
*.color8:		 #536870
*.color9: 		 #d10500
*.color10:		 #869151
*.color11:		 #AF6B42
*.color12:		 #007CD1
*.color13:		 #D69D55
*.color14:		 #668574
*.color15:		 #AB9C71


! 
! vim: ft=xdefaults
