<?xml version="1.0"?>
<configuration>
 <option name="ChatLogLength" value="128"/>
 <option name="ColorBeing" value="0xffffff"/>
 <option name="ColorBeingGradient" value="0"/>
 <option name="ColorExperience" value="0xffff00"/>
 <option name="ColorExperienceGradient" value="0"/>
 <option name="ColorGM" value="0x00ff00"/>
 <option name="ColorGMGradient" value="0"/>
 <option name="ColorGuild" value="0xff00d8"/>
 <option name="ColorGuildGradient" value="0"/>
 <option name="ColorHitCriticalDelay" value="40"/>
 <option name="ColorHitCriticalGradient" value="3"/>
 <option name="ColorHitLocalPlayerCriticalDelay" value="40"/>
 <option name="ColorHitLocalPlayerCriticalGradient" value="3"/>
 <option name="ColorHitLocalPlayerMiss" value="0x00ffa6"/>
 <option name="ColorHitLocalPlayerMissGradient" value="0"/>
 <option name="ColorHitLocalPlayerMonster" value="0x00ff00"/>
 <option name="ColorHitLocalPlayerMonsterGradient" value="0"/>
 <option name="ColorHitMonsterPlayer" value="0xff3232"/>
 <option name="ColorHitMonsterPlayerGradient" value="0"/>
 <option name="ColorHitPlayerMonster" value="0x0064ff"/>
 <option name="ColorHitPlayerMonsterGradient" value="0"/>
 <option name="ColorMiss" value="0xffff00"/>
 <option name="ColorMissGradient" value="0"/>
 <option name="ColorMonster" value="0xff4040"/>
 <option name="ColorMonsterGradient" value="0"/>
 <option name="ColorNPC" value="0xc8c8ff"/>
 <option name="ColorNPCGradient" value="0"/>
 <option name="ColorParticle" value="0xffffff"/>
 <option name="ColorParticleGradient" value="0"/>
 <option name="ColorParty" value="0xff00d8"/>
 <option name="ColorPartyGradient" value="0"/>
 <option name="ColorPickup" value="0x28dc28"/>
 <option name="ColorPickupGradient" value="0"/>
 <option name="ColorPlayer" value="0xffffff"/>
 <option name="ColorPlayerGradient" value="0"/>
 <option name="ColorSelf" value="0xff8040"/>
 <option name="ColorSelfGradient" value="0"/>
 <option name="MostUsedServerDescName0" value="The Mana World"/>
 <option name="MostUsedServerDescription0" value=""/>
 <option name="MostUsedServerName0" value="server.themanaworld.org"/>
 <option name="MostUsedServerName1" value=""/>
 <option name="MostUsedServerPort0" value="6901"/>
 <option name="MostUsedServerType0" value="TmwAthena"/>
 <option name="ServerDialogWinHeight" value="193"/>
 <option name="ServerDialogWinWidth" value="406"/>
 <option name="ServerDialogWinX" value="197"/>
 <option name="ServerDialogWinY" value="203"/>
 <option name="customcursor" value="1"/>
 <option name="disableTransparency" value="0"/>
 <option name="emoteshortcut0" value="1"/>
 <option name="emoteshortcut1" value="2"/>
 <option name="emoteshortcut10" value="11"/>
 <option name="emoteshortcut11" value="12"/>
 <option name="emoteshortcut2" value="3"/>
 <option name="emoteshortcut3" value="4"/>
 <option name="emoteshortcut4" value="5"/>
 <option name="emoteshortcut5" value="6"/>
 <option name="emoteshortcut6" value="7"/>
 <option name="emoteshortcut7" value="8"/>
 <option name="emoteshortcut8" value="9"/>
 <option name="emoteshortcut9" value="10"/>
 <option name="fpslimit" value="60"/>
 <option name="guialpha" value="0.8"/>
 <option name="hwaccel" value="0"/>
 <option name="musicVolume" value="60"/>
 <option name="opengl" value="0"/>
 <option name="remember" value="1"/>
 <option name="screen" value="0"/>
 <option name="screenheight" value="750"/>
 <option name="screenshotDirectorySuffix" value="Mana"/>
 <option name="screenwidth" value="1366"/>
 <option name="sfxVolume" value="100"/>
 <option name="shortcut0" value="-1"/>
 <option name="shortcut1" value="-1"/>
 <option name="shortcut10" value="-1"/>
 <option name="shortcut11" value="-1"/>
 <option name="shortcut2" value="-1"/>
 <option name="shortcut3" value="-1"/>
 <option name="shortcut4" value="-1"/>
 <option name="shortcut5" value="-1"/>
 <option name="shortcut6" value="-1"/>
 <option name="shortcut7" value="-1"/>
 <option name="shortcut8" value="-1"/>
 <option name="shortcut9" value="-1"/>
 <option name="sound" value="1"/>
 <option name="updatehost" value=""/>
 <option name="useScreenshotDirectorySuffix" value="1"/>
 <list name="player"/>
</configuration>
